# General ignores
*.o
*.res
/sam/bin/
.dropbox
/work/
/bin/cli.rc
/bin/srv.rc

# Ignores for windows
desktop.ini
/include/videoinput.h
/include/x264.h
/include/ffmpeg/
/include/SDL/
/lib-w32/
/bin/*.exe
/bin/*.dll
/bin/*.bat
/bin/std*.txt

# Ignores for linux
/lib-linux/
# phrst?