# General ignores
*.o
/sam/bin/
.dropbox

# Ignores for windows
/include/videoinput.h
/include/x264.h
/include/ffmpeg/
/include/SDL/
/lib-w32/
/bin/srv.exe
/bin/cli.exe
/bin/sdl.dll
/bin/std*.txt
desktop.ini

# Ignores for linux
# phrst?